
.video-container {
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

/*.overlay-desc {
  background: transparent;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width:30%;
}*/

main {
  width:50%;
}

p{ 
    padding:10px;
    font-weight:500;
    font-family: "sans-serif";
    font-size:15px;
    
    color: black;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 10s steps(60, end); 
    opacity:0.8;
  }

  p:nth-child(2){
    animation: type2 10s steps(60, end);
  }


span{
  animation: blink 7s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  from{opacity:.7;}
  to{opacity: .2;}
}

::selection{
  background: black;
}
